# Dependencies
dreap/node_modules/
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Next.js build output
dreap/.next/
/out/

# Testing & Coverage
dreap/coverage/

# OS/System files
.DS_Store
Thumbs.db
*.pem

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Environment variables
.env*
dreap/.env*

# IDEs and editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.tsbuildinfo
dreap/next-env.d.ts
